<h1 id="tableLabel">Authors</h1>
<h2>{{authorId}}</h2>
<p *ngIf="!authors"><em>Loading...</em></p>

<table class='table table-striped' aria-labelledby="tableLabel" *ngIf="authors">
  <thead>
    <tr>
      <th>Author Id</th>
      <th>Name</th>
      <th>Author's Books</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let author of authors">
      <td>{{ author.authorId }}</td>
      <td>{{ author.name }}</td>
      <td><a (click)="newId(author.authorId)" [routerLink]="['/author-with-books', author.authorId]" >View Books</a></td>
    </tr>
  </tbody>
</table>
