@model IEnumerable<CoreAngCombinedNew.Models.AuthorWithBooksVM>
@{
    ViewData["Title"] = "GetAuthorWithBooks";
    Layout = "/Pages/Shared/_Layout.cshtml";
}


<style>
    #table {
        font-family: "Roboto", sans-serif;
        border-collapse: collapse;
        width: 100%;
    }

    #table td, #table th {
            border: 1px solid #ddd;
            padding: 8px;
    }

    #table tr:nth-child(even) {
            background-color: #f2f2f2;
    }

    #table tr:hover {
            background-color: #ddd;
    }

        #table th {
            padding-top: 12px;
            padding-bottom: 12px;
            text-align: left;
            background-color: #6699ff;
            color: white;
        }
</style>

<h1>Authors' Books</h1>

<div>

    <hr />
    <dl class="row">
        <dd class="col-sm-10">
        </dd>
    </dl>
</div>
<!--This creates the header row and columns for the table-->
<table class="table" id="table">
    <tr>
        <th>
            Author Id
        </th>
        <th>
            Book Id
        </th>
        <th>
            Title
        </th>
        <th>
            Price
        </th>
    </tr>


    @foreach (var item in Model)
    {
        @foreach (var books in item.BookNameList)
        {
            <!--creates a row per item in the model-->
            <tr>
                <!--fills in the cells for the row-->
                <td>@books.AuthorId</td>
                <td>@books.BookId</td>
                <td>@books.Title</td>
                <td>@books.Price</td>
            </tr>
        }

    }
</table>