<h1 id="tableLabel">Book Details</h1>

<p *ngIf="!bookDetails"><em>Loading...</em></p>


<table class='table table-striped' aria-labelledby="tableLabel" *ngIf="bookDetails">
  <thead>
    <tr>
      <th>Author Name</th>
      <th>Book Id</th>
      <th>Book Title</th>
      <th>Price</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let bookDetail of bookDetails">
      <td>{{ bookDetail.authorName }}</td>
      <td>{{ bookDetail.bookId }}</td>
      <td>{{ bookDetail.title }}</td>
      <td>${{ bookDetail.price }}</td>
    </tr>
  </tbody>
</table>
<a routerLink="/books"> Go back to Books </a>
