<h1 id="tableLabel">Author's Books</h1>

<p *ngIf="!authorWithBooks"><em>Loading...</em></p>
<h2>{{authorId}}</h2>
<table class='table table-striped' aria-labelledby="tableLabel" *ngIf="authorWithBooks">
  <thead>
    <tr>
      <th>Author Name</th>
      <th>Title</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let authorWithBook of authorWithBooks">
      <td>{{ authorWithBook.name }}</td>
      <td>{{ authorWithBook.title }}</td>
    </tr>
  </tbody>
</table>
<a routerLink="/authors"> Go back to Authors </a>
