<h1 id="tableLabel">Books</h1>
<p *ngIf="!books"><em>Loading...</em></p>

<table class='table table-striped' aria-labelledby="tableLabel" *ngIf="books">
  <thead>
    <tr>
      <th>Book Id</th>
      <th>Author Id</th>
      <th>Book Title</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let book of books">
      <td>{{ book.bookId }}</td>
      <td>{{ book.authorId }}</td>
      <td>{{ book.title }}</td>
      <td><a (click)="newId(book.bookId)" [routerLink]="['/book-details', book.bookId]">More Details</a></td>
    </tr>
  </tbody>
</table>
